@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat text-primary h-full text-sm md:text-base lg:text-lg;
  }

  h1 {
    @apply text-5xl font-montserrat font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold font-montserrat;
  }

  h3 {
    @apply text-3xl font-semibold font-montserrat;
  }

  h4 {
    @apply text-2xl font-semibold font-montserrat;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply text-base md:text-lg font-semibold;
  }

  span {
    @apply text-sm;
  }

  input {
    @apply text-sm border-2 rounded-md p-2;
  }
}

@layer components {
  .button {
  }
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
